<div class="mdc-card" style="margin-top: 10px;">
    <div class="mdc-card__content">
        <h1>Name: placeholder name</h1>
        <p>Lorem ipsum</p>
        <p>Status: 0</p>
        <p>Signatures required: 5</p>
        <p>Added by: Admin</p>
        <div class="mdf-card__title">Signatures:</div>
        <ul>
            <li>Stage: 0</li>
            <li>Signed By: Admin</li>
        </ul>
    </div>
    <div class="mdc-card__line"></div>
    <div class="mdc-card__actions">
        <form method="post">
            <div class="mdc-form-group">
                <div class="mdc-select">
                    <i class="mdc-select__dropdown-icon"></i>
                    <select class="mdc-select__native-control" name="identity">
                        <option value="" disabled selected></option>
                            <option value="Admin">Admin</option>
                    </select>
                    <label class="mdc-floating-label">Pick a User</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
            
            <div class="mdc-form-group">
                <button class="mdc-button mdc-button--raised" type="submit">
                    <span class="mdc-button__label">Sign</span>
                </button>
            </div>
            
        </form>
   </div>
</div>


<a href="/">Back</a>